@media (max-width: 1280px) {
    .custom-compact-table .fi-ta-cell {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .custom-compact-table .fi-ta-text-item, .custom-compact-table .fi-ta-text {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .custom-compact-table .fi-ta-header-cell {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .fi-sidebar-nav {
        padding: 0.5rem !important;
    }
}
@media (min-width: 1280px) {
    .type-label { display: inline; }
}
@media (max-width: 1279px) {
    .type-label { display: none; }
}
